/* https://nextjs.org/docs/app/building-your-application/styling/tailwind-css */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply relative mx-auto space-y-8 px-4 py-8 antialiased;
    @apply prose prose-zinc dark:prose-invert;
    @apply dark:bg-zinc-900;
  }

  input {
    @apply rounded px-4 py-2;
    @apply text-zinc-900;
    @apply bg-zinc-200 dark:bg-zinc-200;
  }

  textarea {
    @apply rounded px-4 py-2;
    @apply text-zinc-900;
    @apply bg-zinc-200 dark:bg-zinc-200;
  }

  button,
  .button,
  [type='submit'] {
    @apply rounded px-4 py-3 leading-tight no-underline;
    @apply bg-zinc-200 text-zinc-900 dark:bg-zinc-400;
    @apply hover:bg-zinc-300 dark:hover:bg-zinc-500;
  }
}
